.container {
    padding: 10px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
}

.title {
    font-size: large;
    font-weight: bold;
}

.date {
    text-align: right;
    font-size: smaller;
    color: grey;
    padding-bottom: 20px;
}