.modal-layout {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    padding: 15px;
    background: white;
    border-radius: 5px;
}